<!DOCTYPE html>
<html lang="en">
<head>
<title>Error</title>
<p>Something went wrong</p>
</head>
<body>

<style> 
body {
    background: url("ashes_error.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
</style>

</body>
</html>